.App {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin-top: 80px;
}

.App .Timer {
  font-size: 40px;
  margin: 60px 0;
}

.App .word-wrapper {
  height: 150px;
  font-size: 240px;
}

.info-text {
  margin-top: 80px;
  font-size: 40px;
}

.App .word-wrapper span {
  padding: 30px;
}

.App .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.App .button-wrapper button {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 180px;
  padding: 10px;
}

.start {
  background-color: #6c91bd;
}

.end {
  background-color: #985555;
}

.next {
  background-color: #a6965d;
}
